include ../mixins/get-project-content

div.container.flex
  div.dummy#projects
  div#scale
    each project, index in projects
      div.scale-line(data-line-index=index - 1)
      div.scale-point(data-index=index)
        span.scale-date= project.date
  div.scale-content-wrapper
    -for(let i = 0; i < projects.length; i++)
      -project = projects[i]
      div.scale-content(data-content-index=i)
        h2=project.title
        img(src=project.image)
        a.button(href=project.link) Подробнее