div.services-container#services
    div.container
        h2.text-align-center Услуги
        div.flex.services
            each service, index in services
                input(
                    name=index
                    type='checkbox'
                    id='modal'+index
                    class='modal'
                )

                label(
                    for="modal"+index
                    class="service"
                )
                    div.number=index+1
                    h3.h3-min-margin= service.title
                    p.text-align-center.text-align-start-lg=service.description
                label(
                    for="modal" + index
                    class="modal-bg modal-bg"+index
                )
                div(
                class="modal-content modal-content"+index)
                    h2.relative= service.title
                        label(
                        for="modal" + index
                        class="close"
                        )
                    each val in service.paragraphs
                        p.min-margin=val
                    ul
                    each val in service.ul
                        li=val
