mixin ModalWindow(index,src)
    input(
    type='checkbox'
    id=index
    class='modal'
    )
    label(
    for=index
    class="service"
    )
        img(
        src=src
        )
    label(
    for=index
    class="modal-bg modal-bg" + index
    )
    div(
    class="modal-content modal-content" + index
    )
