mixin two-parts-block(context, image)
  div.two-parts-block
    div.text-wrapper
      div.text
        +getBlockContent(context)
    div.image
      img(src=image)

mixin getBlockContent(context)
  h2.inverse-color= context.header
  p.inverse-color= context.text
  ul.inverse-color
    each item in context.list
      li(href="#")= item
  div.button-block
    each button in context.buttons
      button= button