mixin two-parts-block(context, revers,id)
  div.two-parts-block(class=revers ? 'revers' : '', id=id)
    div.text-wrapper
      div.text
        +getBlockContent(context)
    div.image(style={'background-image': `url(${context.image})`})

mixin getBlockContent(context)
  h2.inverse-color= context.header
  p.inverse-color= context.text
  ul.inverse-color
    each item in context.list
      li(href="#")= item
  div.button-block
    each button in context.buttons
      input(
      type='checkbox'
      id='modal6'
      class='modal'
      )
      label(
      for="modal6"
      class="service"
      )
        div(class="button margin-button" for ="modal6")=button
      label(
      for="modal6"
      class="modal-bg modal-bg6"
      )
      div(
      class="modal-content modal-content6")
        p.relative.flex Вы можете связаться с нами по электронному адресу&#160
          label(
          for="modal6"
          class="close"
          )
          img.text-align-end(src="images/email.svg")

